@import "../Scss_files/main.scss";

footer {
    background-image: url("../Assets/footer_bg.jpg");
    padding: 50px 0;

    .footerSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include viewport(768px) {
            margin: 0 auto;
            padding: 25px 0 50px;
            width: 60%;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid rgba(102, 102, 102, .9);
        }

        @include viewport(1200px) {
            width: 40%;
        }
    
        .footerLeft {
            @include viewport(768px) {
                text-align: left;
            }

            h4 {
                padding-bottom: 10px;
                color: $brownColor;
                font-size: 24px;

                @include viewport(1200px) {
                    font-size: 30px;
                }
            }

            a {
                color: white;
                font-size: 20px;
                letter-spacing: 1px;
                line-height: 32px;

                @include viewport(1200px) {
                    line-height: 46px;
                    font-size: 24px;
                }

                &:hover {
                    color: $brownColor;
                }
            }
        }

        .footerRight {
            padding: 35px 0;

            @include viewport(768px) {
                text-align: right;
                padding: 0;
            }

            h4 {
                padding-bottom: 10px;
                color: $brownColor;
                font-size: 24px;

                @include viewport(1200px) {
                    font-size: 30px;
                }
            }

            span {
                color: white;
                letter-spacing: 1px;
                line-height: 32px;

                @include viewport(1200px) {
                    line-height: 46px;
                    font-size: 18px;
                }
            }
        }
    }
    
    .footerBottom {
        padding-top: 25px;
        text-align: center;
        
        p {
            color: white;
        }

        .socialIcons {
            padding: 25px;

            a {
                padding: 10px;
                background-color: black;
                transition: .5s;

                &:nth-child(2) {
                    margin: 0 10px;
                }

                &:hover {
                    background-color: $brownColor;
                }
            }

            i {
                color: white;
            }
        }
    }
}

