@import "../../Scss_files/main.scss";

.whyUsSection {
    background-color: #e9e1d5;
    text-align: center;
    
    nav a {
        color: black;
        border: 1px solid black;
    }

    .whyUsFlex {
        display: flex;
        flex-direction: column;
        align-items: center;

        .whyUsTitlu {
            padding: 2em 0;
            width: 90%;
    
            @include viewport(600px) {
                width: 80%;
            }
    
            h1 {
                font-size: 36px;
                padding: .5em 0;
    
                @include viewport(600px) {
                    font-size: 44px;
                }
            }
    
            h4 {
                color: $brownColor;
                font-size: 22px;
    
                @include viewport(600px) {
                    font-size: 28px;
                }
            }
    
            span {
                font-size: 18px;
                color: rgb(102, 102, 102);
                line-height: 24px;
            }
        }
    }

    

    .whyUsContent {
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;


        .whyUsBox {
            width: 90%;
            padding: 1em 0;

            h3 {
                padding-bottom: .2em;
                font-size: 20px;

                @include viewport(600px) {
                    font-size: 24px;
                    padding: 1em 0;
                }
            }

            span {
                color: rgb(102, 102, 102);
            }
        }
    }
}